# Introduction

Lets start from the begining. and I mean the very begining. 

What is the world? 

If you think about it, we can very safely say that the world consists entirely of OBJECTS and of ACTIONS. 

The world we live in seems to have two main features: space and time. 

OBJECTS are what we primarily associate with SPACE, because an object has to occupy some space. 

ACTIONS on the other hand, we asocited primarily with TIME. Its impossible to think about actions without time, because actions always seem to have a start, finish and some change that they bring about. 

However, OBJECTS and ACTIONS are deeply interelated. OBJECTS can perform actions, and actions can be performed on objects. 

This is the reason why the most basic building blocks of any human language are Nouns and Verbs, because pretty much everything that we can talk about involve things and actions. 

For thousands of years, humans recorded and communicated the knowledge that they gathered about the world using physical writing. Pens and paper etc. With this ability humans were able to change the world around them in ways no other living being has been to.

Astronomers were able to describe the positions and movements of the stars and write down their observations. These writings helped travelers navigate long voyages over land and sea and allowed them to access and transport resources and ideas they would not have been able to otherwise. 

If you had a business you would write down what you sold and for how much in some kind of book or ledger. Then at the end of the week or month, you would open your book and go down the list and add up the sales to see how much money you made. 

Now lets talk about computers. 

The problem with writing is that it is static. You can only read back whatever you wrote in, and for thousands of years people were restricted to this system. What made computers a revolution in human technology is that they have the ability to produce output that is different from the input that they are given. This opens up a whole universe of possibilities for describing, understanding and affecting the world around us. 

So if we go back to the example of a business ledger, the output from a written ledger is whatever you input into the ledger to write with. And all the additions, calculations and manipulations have to be done by the person reading the ledger. However, if you enter that sales information into a computer, it has the ability to return the sum or avergae or percentage metrics relate to that sales information. 

Now in order for a computer to know what kind of output to produce for  given input, it needs to be given instructions on how to handle that input. And this is the purpose of all programming languages; they are simply a way for us tell computers what to do in a given set of situations. 

Python is one such programming language. 

Let us now see how we can use Python to make computers do what we want them to do and change the world.

# Python

Like human language, programming languages also tend to be centered around the two concepts of OBJECTS and ACTIONS. Python is no different. 

We usually write Python in an IDE (Im using Jupyter in VSCode). 

When you open your IDE or NToebook and you see the cursor blinking, you can now begin creating objects or performing actions. Lets take a look at objects in python first.

# Objects

In python, you can create objects and you can interact with existing objects. Lets look at creating them first. 

If we type 42, that is an object

If we type 'Football' that is an object.

In [1]:
42

42

In [2]:
'Football'

'Football'

We can assign these objects to variables. This is a fundamental programming technique and you will be doing this very often. Variables are basically nicknames we can give to data placeholders. We can use pretty much any name we want, except words that are reserved by python (for example 'class').

In [4]:
x = 42
item = 'Football'

In [6]:
item

'Football'

By assigning objects to variables, we can create layers of abstraction; 

The value of X can change but it will still be used in the same way. This opens alot of possibilities for us which we will come to appreciate.

## Types of Objects
Objects in python have a "type". More accurately, objects belong to "classes". There are some basic, primitive classes of objects that are built in to Python. 

* Strings
* Ints
* Floats
* Lists
* Dictionaries

There are other, more complex types. These can come from add on python libraries, or you can even make your own! (object oriented)

# Functions/Methods

These are Python "ACTIONS"

Take some inputs (aka Arguments)
Produce some output

In [7]:
message = "Hello!"
print(message)

Hello!

In [13]:
type(message)

str

In [11]:
message_type = type(message)

In [12]:
message_type

str

## Methods

In [9]:
message.upper()

'HELLO!'

# More Objects

## Lists

Lists are a type of object in Python that are basically simple containers for other objects. They are one of the most fundamental data structures in programming. Used properly, they can be very powerful.

In [18]:
my_list = ['apples','oranges','grapes']

Lists keep items in their original order. You can get an item in a list by "slicing" the list using the position number of that item in that order. Position numbers start at 0.

In [19]:
second_list_item = my_list[1]

print(second_list_item)

oranges

You can replace an item in a list by reassigining that slice of the dictionary to a new object

In [28]:
my_list[1] = 'pineapples'

my_list

['apples', 'pineapples', 'grapes', 'mango']

You can add items to a list by using the "append" method.

In [20]:
new_fruit = 'mango'

my_list.append(new_fruit)

my_list

## Dictionaries

Dictionaries are another type of 'container' object that can store other objects and data. 

In a dictionary, you store things as key-value pairs.

In [22]:
color_dict = {'apple':'red', 'mango':'yellow','grapes':'purple'}

The key-value pair system allows us to retrieve the values using keys, without having to know the location of the item in the dictionary. (Dicionaries have no sense of order)

In [23]:
color_dict['apple']

'red'

You can update the value for a key similar to how you would modify an item in a list.

# Conditionals

Conditionals or "if statements" are a way to tell the computer to do different things depending on the situation. 

For example, we want to see if a student passed or failed

In [39]:
score = 79

if score > 60:                       # the condition that must be met before the code afterwards can be executed
    print("You passed! Good for you")
else: 
    print("you failed! haha!")

you failed! haha!

In [ ]:
#operators:

>
<
==
!=

#work for ints, floats AND strings lists etc

SyntaxError: invalid syntax (Temp/ipykernel_25780/3202466061.py, line 3)

# Loops

In python, you have the ability to cycle through a set of objects if they are part of a valid "iterable"

An iterably is basically anything that can be iterated over, i.e it is made up of smaller components that can be read one by one. 

Lists are an iterable, and they are very frequently iterated over.

In [40]:
my_list = ['apples','oranges','grapes']

for fruit in my_list:        #here you can give a name to which each member of the iterable will be referd to
    print(fruit.upper())

APPLES
ORANGES
GRAPES

# Libraries

Gives you access to custom objects and methods not part of "stock" python
Python has TONS AND TONS OF LIBRARIES
Not all will be installed by default. 
To be able to import a library, it must be installed
can be installed using pip

* Major Libraries

Pandas
Numpy
ScikitLearn

In [10]:
## example

import pandas

Now we have access to a whole new set of objects, functions and methods!

In [36]:
dataframe = pandas.read_excel('StudentsPerformance.xlsx')


dataframe

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [37]:
type(dataframe)

pandas.core.frame.DataFrame

In [44]:
dataframe['math score']

math_scores_columns = dataframe['math score']

type(parent_col)

math_scores = math_scores_columns.to_list()

math_scores

[72,
 69,
 90,
 47,
 76,
 71,
 88,
 40,
 64,
 38,
 58,
 40,
 65,
 78,
 50,
 69,
 88,
 18,
 46,
 54,
 66,
 65,
 44,
 69,
 74,
 73,
 69,
 67,
 70,
 62,
 69,
 63,
 56,
 40,
 97,
 81,
 74,
 50,
 75,
 57,
 55,
 58,
 53,
 59,
 50,
 65,
 55,
 66,
 57,
 82,
 53,
 77,
 53,
 88,
 71,
 33,
 82,
 52,
 58,
 0,
 79,
 39,
 62,
 69,
 59,
 67,
 45,
 60,
 61,
 39,
 58,
 63,
 41,
 61,
 49,
 44,
 30,
 80,
 61,
 62,
 47,
 49,
 50,
 72,
 42,
 73,
 76,
 71,
 58,
 73,
 65,
 27,
 71,
 43,
 79,
 78,
 65,
 63,
 58,
 65,
 79,
 68,
 85,
 60,
 98,
 58,
 87,
 66,
 52,
 70,
 77,
 62,
 54,
 51,
 99,
 84,
 75,
 78,
 51,
 55,
 79,
 91,
 88,
 63,
 83,
 87,
 72,
 65,
 82,
 51,
 89,
 53,
 87,
 75,
 74,
 58,
 51,
 70,
 59,
 71,
 76,
 59,
 42,
 57,
 88,
 22,
 88,
 73,
 68,
 100,
 62,
 77,
 59,
 54,
 62,
 70,
 66,
 60,
 61,
 66,
 82,
 75,
 49,
 52,
 81,
 96,
 53,
 58,
 68,
 67,
 72,
 94,
 79,
 63,
 43,
 81,
 46,
 71,
 52,
 97,
 62,
 46,
 50,
 65,
 45,
 65,
 80,
 62,
 48,
 77,
 66,
 76,
 62,
 77,
 69,
 61,
 59,
 55,
 45,
 78,
 67,
 65,
 69,
 57,
 59,
 74,
 82,
 81,
 74,
 58,
 80,
 35,
 42,
 60,
 87,
 84,
 83,
 34,
 66,
 61,
 56,
 87,
 55,
 86,
 52,
 45,
 72,
 57,
 68,
 88,
 76,
 46,
 67,
 92,
 83,
 80,
 63,
 64,
 54,
 84,
 73,
 80,
 56,
 59,
 75,
 85,
 89,
 58,
 65,
 68,
 47,
 71,
 60,
 80,
 54,
 62,
 64,
 78,
 70,
 65,
 64,
 79,
 44,
 99,
 76,
 59,
 63,
 69,
 88,
 71,
 69,
 58,
 47,
 65,
 88,
 83,
 85,
 59,
 65,
 73,
 53,
 45,
 73,
 70,
 37,
 81,
 97,
 67,
 88,
 77,
 76,
 86,
 63,
 65,
 78,
 67,
 46,
 71,
 40,
 90,
 81,
 56,
 67,
 80,
 74,
 69,
 99,
 51,
 53,
 49,
 73,
 66,
 67,
 68,
 59,
 71,
 77,
 83,
 63,
 56,
 67,
 75,
 71,
 43,
 41,
 82,
 61,
 28,
 82,
 41,
 71,
 47,
 62,
 90,
 83,
 61,
 76,
 49,
 24,
 35,
 58,
 61,
 69,
 67,
 79,
 72,
 62,
 77,
 75,
 87,
 52,
 66,
 63,
 46,
 59,
 61,
 63,
 42,
 59,
 80,
 58,
 85,
 52,
 27,
 59,
 49,
 69,
 61,
 44,
 73,
 84,
 45,
 74,
 82,
 59,
 46,
 80,
 85,
 71,
 66,
 80,
 87,
 79,
 38,
 38,
 67,
 64,
 57,
 62,
 73,
 73,
 77,
 76,
 57,
 65,
 48,
 50,
 85,
 74,
 60,
 59,
 53,
 49,
 88,
 54,
 63,
 65,
 82,
 52,
 87,
 70,
 84,
 71,
 63,
 51,
 84,
 71,
 74,
 68,
 57,
 82,
 57,
 47,
 59,
 41,
 62,
 86,
 69,
 65,
 68,
 64,
 61,
 61,
 47,
 73,
 50,
 75,
 75,
 70,
 89,
 67,
 78,
 59,
 73,
 79,
 67,
 69,
 86,
 47,
 81,
 64,
 100,
 65,
 65,
 53,
 37,
 79,
 53,
 100,
 72,
 53,
 54,
 71,
 77,
 75,
 84,
 26,
 72,
 77,
 91,
 83,
 63,
 68,
 59,
 90,
 71,
 76,
 80,
 55,
 76,
 73,
 52,
 68,
 59,
 49,
 70,
 61,
 60,
 64,
 79,
 65,
 64,
 83,
 81,
 54,
 68,
 54,
 59,
 66,
 76,
 74,
 94,
 63,
 95,
 40,
 82,
 68,
 55,
 79,
 86,
 76,
 64,
 62,
 54,
 77,
 76,
 74,
 66,
 66,
 67,
 71,
 91,
 69,
 54,
 53,
 68,
 56,
 36,
 29,
 62,
 68,
 47,
 62,
 79,
 73,
 66,
 51,
 51,
 85,
 97,
 75,
 79,
 81,
 82,
 64,
 78,
 92,
 72,
 62,
 79,
 79,
 87,
 40,
 77,
 53,
 32,
 55,
 61,
 53,
 73,
 74,
 63,
 96,
 63,
 48,
 48,
 92,
 61,
 63,
 68,
 71,
 91,
 53,
 50,
 74,
 40,
 61,
 81,
 48,
 53,
 81,
 77,
 63,
 73,
 69,
 65,
 55,
 44,
 54,
 48,
 58,
 71,
 68,
 74,
 92,
 56,
 30,
 53,
 69,
 65,
 54,
 29,
 76,
 60,
 84,
 75,
 85,
 40,
 61,
 58,
 69,
 58,
 94,
 65,
 82,
 60,
 37,
 88,
 95,
 65,
 35,
 62,
 58,
 100,
 61,
 100,
 69,
 61,
 49,
 44,
 67,
 79,
 66,
 75,
 84,
 71,
 67,
 80,
 86,
 76,
 41,
 74,
 72,
 74,
 70,
 65,
 59,
 64,
 50,
 69,
 51,
 68,
 85,
 65,
 73,
 62,
 77,
 69,
 43,
 90,
 74,
 73,
 55,
 65,
 80,
 50,
 63,
 77,
 73,
 81,
 66,
 52,
 69,
 65,
 69,
 50,
 73,
 70,
 81,
 63,
 67,
 60,
 62,
 29,
 62,
 94,
 85,
 77,
 53,
 93,
 49,
 73,
 66,
 77,
 49,
 79,
 75,
 59,
 57,
 66,
 79,
 57,
 87,
 63,
 59,
 62,
 46,
 66,
 89,
 42,
 93,
 80,
 98,
 81,
 60,
 76,
 73,
 96,
 76,
 91,
 62,
 55,
 74,
 50,
 47,
 81,
 65,
 68,
 73,
 53,
 68,
 55,
 87,
 55,
 53,
 67,
 92,
 53,
 81,
 61,
 80,
 37,
 81,
 59,
 55,
 72,
 69,
 69,
 50,
 87,
 71,
 68,
 79,
 77,
 58,
 84,
 55,
 70,
 52,
 69,
 53,
 48,
 78,
 62,
 60,
 74,
 58,
 76,
 68,
 58,
 52,
 75,
 52,
 62,
 66,
 49,
 66,
 35,
 72,
 94,
 46,
 77,
 76,
 52,
 91,
 32,
 72,
 19,
 68,
 52,
 48,
 60,
 66,
 89,
 42,
 57,
 70,
 70,
 69,
 52,
 67,
 76,
 87,
 82,
 73,
 75,
 64,
 41,
 90,
 59,
 51,
 45,
 54,
 87,
 72,
 94,
 45,
 61,
 60,
 77,
 85,
 78,
 49,
 71,
 48,
 62,
 56,
 65,
 69,
 68,
 61,
 74,
 64,
 77,
 58,
 60,
 73,
 75,
 58,
 66,
 39,
 64,
 23,
 74,
 40,
 90,
 91,
 64,
 59,
 80,
 71,
 61,
 87,
 82,
 62,
 97,
 75,
 65,
 52,
 87,
 53,
 81,
 39,
 71,
 97,
 82,
 59,
 61,
 78,
 49,
 59,
 70,
 82,
 90,
 43,
 80,
 81,
 57,
 59,
 64,
 63,
 71,
 64,
 55,
 51,
 62,
 93,
 54,
 69,
 44,
 86,
 85,
 50,
 88,
 59,
 32,
 36,
 63,
 67,
 65,
 85,
 73,
 34,
 93,
 67,
 88,
 57,
 79,
 67,
 70,
 50,
 69,
 52,
 47,
 46,
 68,
 100,
 44,
 57,
 91,
 69,
 35,
 72,
 54,
 74,
 74,
 64,
 65,
 46,
 48,
 67,
 62,
 61,
 70,
 98,
 70,
 67,
 57,
 85,
 77,
 72,
 78,
 81,
 61,
 58,
 54,
 82,
 49,
 49,
 57,
 94,
 75,
 74,
 58,
 62,
 72,
 84,
 92,
 45,
 75,
 56,
 48,
 100,
 65,
 72,
 62,
 66,
 63,
 68,
 75,
 89,
 78,
 53,
 49,
 54,
 64,
 60,
 62,
 55,
 91,
 8,
 81,
 79,
 78,
 74,
 57,
 40,
 81,
 44,
 67,
 86,
 65,
 55,
 62,
 63,
 88,
 62,
 59,
 68,
 77]

# Putting it all together!!

In the dataframe of students above, we have math scores for students. We want to write code to count how many students got A's, B's,C's or D's

math_scores

In [46]:
a_grades = 0
b_grades = 0
c_grades = 0
fails = 0

for score in math_scores:
    if score >= 85:
        a_grades = a_grades + 1
    elif score >= 75 and score <85:
        b_grades = b_grades + 1
    elif score >= 65 and score <75:
        c_grades = c_grades + 1
    else:
        fails = fails + 1

count_dict = {
    'A':a_grades,
    'B':b_grades,
    'C':c_grades,
    'Fails': fails
}

print(count_dict)

{'A': 117, 'B': 178, 'C': 258, 'Fails': 447}